.resume-page01-skill{
  position: relative;
  width: 100%;
  &>a{
    font-weight: bold;
    text-decoration: none;
    width:100px;
    height: 30px;
    text-align: center;
    margin-left: -50px;
    margin-top: -15px;
    padding: 3px 6px;
    line-height:30px;
    font-family: "Microsoft Sans Serif";
    position: absolute;
    top:0;
    left: 0;
    transition: all .8s;
    font-size: 1.2rem;
    &:hover{
      //font-size: 2.8rem !important;
    }
  }
}
