.Resume-component-resume{
  position: relative;
  z-index: 120;
  display: flex;
}
.Resume-component-resume-top{
  margin-top: 80px;
}
.resume-book-container-transform{
  transform: rotate(90deg);
  transform-origin: center center;
}

.resume-book-container{
  align-self:center;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  img{
    max-width: 100%;
    align-self: center;
  }
}

/******* pages01 ********/
.resume-book-page01{
  .book-page01-image-container{
    width: 80%;
    margin: 0 auto;
    padding: 10%;
    img{
      border-radius: 50%;
      border: 5px solid #fff;
      box-shadow: 3px 3px 10px 1px rgba(0,0,0,.3);
    }
  }
  .YJSON-init{
    color:#413c38;
    text-align: center;
    h1,p{
      margin-top: 10px;
    }
    p{
      font-size: 14px;
    }
  }
}

