.Resume-component-resume{
  position: relative;
  z-index: 120;
}
.Resume-component-resume-top{
  margin-top: 80px;
}
.Resume-book-root{
  background-image: url('../../images/resume-book.png');
  background-repeat: no-repeat;
  transition: all 1s ease ;
  background-position: 50% 50%;
  position: absolute;
}
.Resume-book-root-transform{
  transform:rotate(90deg);
  transform-origin: left top;
}
