.left-nav{
  position: relative;
  background-color: #333;
  &.left-nav-header-180{
    height: 180px;
    .left-home-nav-img-container{
      margin-top: -10px;
    }
  }
  &.left-nav-header-110{
    height: 110px;
    .left-home-nav-img-container{
      margin-top: -48px;
    }
  }
}
.left-home-nav-img-container{
  position: absolute;
  left:50%;
  top: 50%;
  margin-left: -65px;
  text-align: center;
  img{
    margin-top: 25%;
    height: 138px;
    width: 130px;
    border:4px solid #fff;
    border-radius: 50%;
  }
}
.body-title{
  margin-top:80px;
  color:#181818;
  p:first-child{
    font-size: 2rem;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  }
  p:not(:first-child){
    font-size: .8rem;
  }
  p.TR{
    padding-right: 20px;
  }
}

.body-nav{
  .body-nav-iocn{
    icon{
      font-size: 3rem;
      color: #42DCA3;
      cursor: pointer;
    }
    text-align: center;
  }
  &-padding-right-15{
    padding-right: 15px;
  }
}
.activeClassName-link{
  color: #ff1100;
}
.body-nav-title{
  a{
    display: block;
  }
  li{
    icon,span{
      color: #181818;
      font-size: .8rem;
    }
  }
  .li{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    icon,span{
      font-size: 1rem;
      margin-left: 10px;
    }
    &.activeClassName{
      background-color: bisque;
    }
  }
  .activeClassName{
    icon,span{
     color: #ff1100;
    }
  }
  &.boke-body-YD-title{
    width: 80%;
    margin: 10px auto;
    li{
      float: left;
      width: 20%;
      text-align: center;
    }
  }
}

.boke-www-link{
  margin-top: 20px;
  li{
    margin:5px 10px;
    a,i{
      font-size: 2rem;
      &:hover{
        color: #dddd00;
      }
    }
  }
}
.boke-www-link-li-5px>li{
  margin: 5px;
}
