


.band01-img-div{
	display: flex;
	margin:0 30px;
	justify-content:center;
	align-items:center;
	div{
		margin:0 40px;
		position: relative;
		.img-responsive{
		    max-width: 100%;
		    height: auto;
		}
		.img-bg{
			border-radius: 10px;
			opacity: 0.7;
			animation:headneon 1.5s ease-in-out infinite alternate;
			animation-iteration-count:infinite;
		}
		.dispalyNone{
			display: none;
		}
	}
}

@keyframes headneon {
  from {
    box-shadow: 0 0 1px #fff,
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 4px #fff;
  }
  to {
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #fff;
  }
}
.band01-label{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color:#fff;
	text-align: center;
}

.band01-font-pc{
  li:first-child{
    font-size:2.6rem;
    margin-top:1.8rem;
  }
  li:nth-child(2){
    font-size:1.4rem;
    margin-top:2rem;
  }
  li:last-child{
    font-size:2rem;
    margin-top:2rem;
  }
}
.band01-font-yd{
  li:first-child{
    font-size:1.1rem;
    margin-top:1rem;
  }
  li:nth-child(2){
    font-size:.8rem;
    margin-top:1rem;
  }
  li:last-child{
    font-size:1.4rem;
    margin-top:1rem;
  }
}



